.row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  box-sizing: border-box;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 300px;
}

/* Make the image to responsive */
.image {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

.avatar:hover {
  cursor: pointer;
}

.zoom {
  box-sizing: border-box;
  transition: transform 0.2s; /* Animation */
}

.zoom:hover {
  z-index: 100;
  transform: scale(
    1.25
  ); /* (125% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
